@model EditTagModel
@{
    bool editing = false;
    if (Model != null && Model.Tag != null && Model.Tag.ID != 0) {
        editing = true;
        if (Model.SteamGame == null)
            ViewData["title"] = "Edit Tag";
        else
            ViewData["title"] = $"Edit {Model.SteamGame.Name} Tag";
    } else {
        if (Model.SteamGame == null)
            ViewData["title"] = "New Tag";
        else
            ViewData["title"] = $"New {Model.SteamGame.Name} Tag";
    }
}

<breadcrumbs>
    <breadcrumb-item asp-action="Index" asp-controller="Home" asp-area=""><span class="mdi mdi-fw mdi-home"></span></breadcrumb-item>
    @if (Model.ReturnToGameView) {
        <breadcrumb-item asp-action="View" asp-controller="Game" asp-route-id="@Model.Tag.SteamGameID" asp-area="">@Model.SteamGame.Name</breadcrumb-item>
    } else {
        <breadcrumb-item asp-action="Index" asp-controller="Home" asp-area="Admin">Site Management</breadcrumb-item>
        <breadcrumb-item asp-action="Index" asp-controller="Tag" asp-area="Admin">Tags</breadcrumb-item>
    }
    <breadcrumb-item>@ViewData["title"]</breadcrumb-item>
</breadcrumbs>

<h3>@ViewData["title"]</h3>
<hr />

<form action="" method="post">
    @Html.HiddenFor(x => x.Tag.ID)
    @Html.HiddenFor(x => x.Tag.SteamGameID)
    @Html.HiddenFor(x => x.ReturnToGameView)

    <hrFormField asp-for="Tag.Name"></hrFormField>
    <hrFormField asp-for="Tag.BackgroundColor" renderer="color"></hrFormField>
    @if (Model.SteamGame == null) {
        <hrFormField asp-for="Tag.IsComplication"></hrFormField>
    }
    <hrFormField asp-for="Tag.IsActive"></hrFormField>
    <hrFormSubmit></hrFormSubmit>
</form>