@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <a asp-action="GameList" asp-route-id="@GameListType.Perfect">
        Perfect Games
    </a>
    /
    <a asp-action="GameList" asp-route-id="@GameListType.NonPerfect">
        Non-Perfect Games
    </a>
    /
    <a asp-action="GameList" asp-route-id="@GameListType.Incomplete">
        Incomplete Games
    </a>
    /
    <a asp-action="GameList" asp-route-id="@GameListType.PerfectPossible">
        Perfect Possible Games
    </a>
    /
    <a asp-action="GameList" asp-route-id="@GameListType.NoComplications">
        No Complication Games
    </a>
</div>