

<div class="pt-2">
    @if (Models?.Any() == true) {
        <div class="row">
            <div class="col-md-3 col-auto col-auto">

            </div>
            <div class="col-md-6 col text-md-center">
                <h5>
                    @Models.Count(x => x.UserAchievement.Achieved) / @Models.Count Achievements
                </h5>
            </div>
            <div class="col-md-3 col-auto text-md-end">
                <a asp-action="Edit" asp-controller="Tag" asp-area="Admin" asp-route-steamGameID="@SteamGame.ID" class="btn btn-link">
                    <span class="mdi mdi-fw mdi-plus-box-outline"></span>Add Tag
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md mb-2">
                <select id="achieved-filter" class="form-select">
                    <option value="">All Achievements</option>
                    <option value="True">Completed Achievements</option>
                    <option value="False">Incompleted Achievements</option>
                </select>
            </div>
            @*<div class="col-md mb-2">
                    <select id="achievement-filter" hidden multiple>
                        @foreach (var tag in Model.AchievementTags.OrderBy(x => x.Name)) {
                            <option value="@tag.ID">@tag.Name</option>
                        }
                        <option value="BLANK">No Tags</option>
                    </select>
                </div>
                <div class="col-md mb-2">
                    <select id="hide-tag-filter" hidden multiple>
                        @foreach (var tag in Model.AchievementTags.OrderBy(x => x.Name)) {
                            <option value="@tag.ID">@tag.Name</option>
                        }
                        <option value="BLANK">No Tags</option>
                    </select>
                    <div id="hide-filter-overridden" class="text-warning hidden">Overridden</div>
                </div>*@
        </div>
        @foreach (AchievementViewModel achievement in Models.OrderByDescending(x => x.Schema.GlobalCompletionPercentage)) {
            @*<partial name="_Achievement" model="achievement" />*@
            @*<AchievementList></AchievementList>*@
            <Achievement Model=" achievement"></Achievement>
        }
    } else {
        <h5 class="mt-3">This game does not have any achievements</h5>
    }
</div>
@code {
    [Parameter]
    public List<AchievementViewModel> Models { get; set; }

    [Parameter]
    public SteamGameModel SteamGame { get; set; }
}
