<a href="Game/View/@Model.SteamGame.ID"
   class="row link-section game-list-item border-bottom pt-2 pb-2">
    <div class="col-auto">
        @if (string.IsNullOrWhiteSpace(Model.SteamGame.HeaderImageUrl)) {
            <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/@Model.SteamGame.ID/header.jpg" class="img-fluid header-img d-none d-lg-block" />
        } else {
            <img src="@Model.SteamGame.HeaderImageUrl" class="img-fluid header-img d-none d-lg-block" />
        }
        <img src="https://steamcdn-a.akamaihd.net/steam/apps/@Model.SteamGame.ID/library_600x900.jpg" class="img-fluid d-lg-none"
             onerror="this.onerror=null; this.src = '@Model.SteamGame.GridThumbUrl'"
             style="max-width:110px;" />
    </div>
    <div class="col">
        <div class="display-6 d-none d-lg-block">@Model.SteamGame.NameClean</div>
        <h4 class="d-lg-none">@Model.SteamGame.NameClean</h4>

        <div class="row mb-1">
            <div class="col-auto text-center">
                <label class="column-label">Playtime</label>
                <div>
                    @if (Model.SteamGame.TotalPlaytime == 0) {
                        <em class="text-info">Unplayed</em>
                    } else {
                        <MinutesToTimeString Minutes="Model.SteamGame.TotalPlaytime"></MinutesToTimeString>
                    }
                </div>
            </div>

            @if (Model.Details?.PerfectPossible != null) {
                <div class="col-auto text-center">
                    <label class="column-label">Perfect Possible</label>
                    <div>@Model.Details.PerfectPossible</div>
                </div>
            }

            @if (Model.SteamGame.DeckCompatibility != null) {
                <div class="col-auto text-center">
                    <label class="column-label">Deck Compatibility</label>
                    <div>@Model.SteamGame.DeckCompatibility</div>
                </div>
            }

            @if (Model.SteamGame.ReleaseDate.HasValue) {
                <div class="col-auto text-center">
                    <label class="column-label">Released</label>
                    <div>@Model.SteamGame.ReleaseDate.Value.ToShortDateString()</div>
                </div>
            }
        </div>

        @if (Model.SteamGame.AchievementCount > 0) {
            <div class="row">
                <div class="col">
                    <div class="progress" role="progressbar" aria-valuenow="@Model.AchievedCount" aria-valuemin="0" aria-valuemax="@Model.SteamGame.AchievementCount" style="height:1.5rem;">
                        <div class="progress-bar @(Model.Perfect ? "progress-bar-striped progress-bar-animated" : "")" style="font-size:1.2em;width: @(Model.AchievProgressWidth)%;">
                            @Math.Round(Model.AchievProgressWidth, 1)%
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    @Model.AchievedCount / @Model.SteamGame.AchievementCount
                </div>
            </div>
        } else {
            <p class="text-center text-faded">
                <em>This game does not have any achievements</em>
            </p>
        }

        <div class="row mb-1">
            @if (!string.IsNullOrWhiteSpace(Model.SteamGame.ReviewDescription)) {
                <div class="col-auto text-center">
                    <label class="column-label">Reviews</label>
                    <div>@Model.SteamGame.ReviewDescription</div>
                </div>
            }

            @if (Model.SteamGame.RecommendationCount > 0) {
                <div class="col-auto text-center">
                    <label class="column-label">Recommendations</label>
                    <div>@Model.SteamGame.RecommendationCount</div>
                </div>
            }

            @if (Model.SteamGame.MetacriticScore > 0) {
                <div class="col-auto text-center">
                    <label class="column-label">Metacritic</label>
                    <div>@Model.SteamGame.MetacriticScore</div>
                </div>
            }

            @if (Model?.Details?.MainStoryTime > 0) {
                <div class="col-auto text-center">
                    <label class="column-label">Main Story Time</label>
                    <div>@Model.Details.MainStoryTime</div>
                </div>
            }

            @if (Model?.Details?.CompletionistTime > 0) {
                <div class="col-auto text-center">
                    <label class="column-label">Completionist Time</label>
                    <div>@Model.Details.CompletionistTime</div>
                </div>
            }
        </div>

        @if (Model?.ComplicationTags.Any() == true) {
            <div>
                @foreach (TagModel tag in Model.ComplicationTags.OrderBy(x => x.Name)) {
                    <span class="badge" style="background-color:@tag.BackgroundColor">@tag.Name</span>
                }
            </div>
        }
    </div>
</a>

@code {
    [Parameter]
    public GameListItemModel Model { get; set; }

}
