<div class="pt-2">
    <div>
        @foreach (SteamCategoryModel category in Model.Categories) {
            <span class="badge bg-primary mx-1">@category.Name</span>
        }
    </div>
    <div>
        @foreach (SteamUserTagModel tag in Model.UserTags) {
            <span class="badge bg-info mx-1">@tag.Name</span>
        }
    </div>
    @if (Model.GameDetails != null) {
        <div class="pt-2">
            <div class="row mb-3">
                <div class="col-auto">
                    <div class="column-label">Main Story Time</div>
                    <div class="text-center">@Model.GameDetails.MainStoryTime</div>
                </div>
                <div class="col-auto">
                    <div class="column-label">Main &amp; Sides</div>
                    <div class="text-center">@Model.GameDetails.MainAndSidesTime</div>
                </div>
                <div class="col-auto">
                    <div class="column-label">Completionist</div>
                    <div class="text-center">@Model.GameDetails.CompletionistTime</div>
                </div>
                <div class="col-auto">
                    <div class="column-label">All Styles</div>
                    <div class="text-center">@Model.GameDetails.AllStylesTime</div>
                </div>
            </div>
        </div>
    }
    <hr />
    @((MarkupString)Model.Descriptions.ShortDescription)
    @((MarkupString)Model.Descriptions.AboutTheGame)
    @((MarkupString)Model.Descriptions.DetailedDescription)
    @((MarkupString)Model.Descriptions.LegalNotice)
</div>

@code {
    [Parameter]
    public GameViewModel Model { get; set; }
}
