@model AchievementModel
@{
    string tagsJoined = ";";
    foreach (long tagID in Model.Tags.Select(x => x.ID)) {
        tagsJoined += tagID + ";";
    }
}

<div class="row g-0 achievement-row@(Model.Achieved ? " achieved" : "")" data-achievement-key="@Model.Key"
     data-name="@Model.Name"
     data-achieved="@Model.Achieved"
     data-tags="@tagsJoined">
    <div class="col-auto">
        @if (Model.Achieved) {
            <img src="@Model.IconUrl" class="img-fluid" style="max-height:64px;" />
        } else {
            <img src="@Model.IconGrayUrl" class="img-fluid" style="max-height:64px;" />
        }
    </div>
    <div class="col ps-2 position-relative">
        <h5 display-for="Name" class="mb-0"></h5>
        <div display-for="Description"></div>

        <div>
            @foreach (Tag tag in Model.Tags) {
                <span class="badge" style="background-color:@tag.BackgroundColor;">@tag.Name</span>
            }
        </div>

        <small class="position-absolute bottom-0 end-0 text-faded pe-1">
            @(Math.Round(Model.GlobalCompletionPercentage, 1))%
        </small>
        <a href="@Url.Action("Edit", "Achievement", new { steamGameID = Model.SteamGameID, achievementKey = Model.Key })"
           class="position-absolute top-0 end-0 edit-achievement-link">
            <span class="mdi mdi-fw mdi-square-edit-outline"></span>
        </a>
    </div>
</div>