@model SteamGameListModel
@{
    int achievedCount = Model.UserAchievements.Where(x => x.Achieved).Count();

    double progressWidth = (double)achievedCount / (double)Model.SteamGame.AchievementCount * 100;

    bool perfect = achievedCount == Model.SteamGame.AchievementCount;
}

<a asp-action="View" asp-controller="Game" asp-route-id="@Model.SteamGame.ID"
   class="row link-section game-list-item border-bottom pt-2 pb-2"
   data-name="@Model.SteamGame.Name"
   data-count="@Model.SteamGame.AchievementCount"
   data-percent="@progressWidth"
   data-playtime="@Model.SteamGame.TotalPlaytime"
   data-review="@Model.SteamGame.ReviewScore"
   data-metacritic="@Model.SteamGame.MetacriticScore"
   data-playnext="@Model.GameDetails?.PlayNextScore">
    <div class="col-auto">
        <partial name="_GameListItemPicture" model="Model" />
    </div>
    <div class="col">
        <div class="display-6 d-none d-lg-block" display-for="SteamGame.Name"></div>
        <h4 class="d-lg-none" display-for="SteamGame.Name"></h4>

        <div class="row mb-1">
            <div class="col-auto text-center">
                <label class="column-label">Playtime</label>
                <div>
                    @if (Model.SteamGame.TotalPlaytime == 0) {
                        <em class="text-info">Unplayed</em>
                    } else {
                        @TimeSpan.FromMinutes(Model.SteamGame.TotalPlaytime).ToLongString()
                    }
                </div>
            </div>

            @if (Model.GameDetails?.PerfectPossible != null) {
                <div class="col-auto text-center">
                    <label class="column-label">Perfect Possible</label>
                    <div display-for="GameDetails.PerfectPossible"></div>
                </div>
            }

            @if (Model.SteamGame.DeckCompatibility != null) {
                <div class="col-auto text-center">
                    <label class="column-label">Deck Compatibility</label>
                    <div display-for="SteamGame.DeckCompatibility"></div>
                </div>
            }
            @*<small class="small-caps">Playtime:</small>
                @if (Model.SteamGame.TotalPlaytime == 0) {
                    <em class="text-info">Unplayed</em>
                } else {
                    @TimeSpan.FromMinutes(Model.SteamGame.TotalPlaytime).ToLongString()
                }

                @if (Model.GameDetails?.PerfectPossible != null) {
                    <span class="text-faded font-weight-semibold">|</span>
                    <small class="small-caps">Perfect Possible:</small> @Html.DisplayFor(x => x.GameDetails.PerfectPossible)
                }

                @if (Model.SteamGame.DeckCompatibility != null) {
                    <span class="text-faded font-weight-semibold">|</span>
                    <small class="small-caps">Deck Compatibility:</small> @Html.DisplayFor(x => x.SteamGame.DeckCompatibility)
                }*@
        </div>

        @if (Model.SteamGame.AchievementCount > 0) {
            <div class="row">
                <div class="col">
                    <div class="progress" role="progressbar" aria-valuenow="@achievedCount" aria-valuemin="0" aria-valuemax="@Model.SteamGame.AchievementCount" style="height:1.5rem;">
                        <div class="progress-bar @(perfect ? "progress-bar-striped progress-bar-animated" : "")" style="font-size:1.2em;width: @(progressWidth)%;">
                            @Math.Round(progressWidth, 1)%
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    @achievedCount / @Model.SteamGame.AchievementCount
                </div>
            </div>
        } else {
            <p class="text-center text-faded">
                <em>This game does not have any achievements</em>
            </p>
        }

        <div class="row mb-1">
            @if (!string.IsNullOrWhiteSpace(Model.SteamGame.ReviewDescription)) {
                <div class="col-auto text-center">
                    <label class="column-label">Reviews</label>
                    <div display-for="SteamGame.ReviewDescription"></div>
                </div>
            }

            @if (Model.SteamGame.RecommendationCount > 0) {
                <div class="col-auto text-center">
                    <label class="column-label">Recommendations</label>
                    <div display-for="SteamGame.RecommendationCount"></div>
                </div>
            }

            @if (Model.SteamGame.MetacriticScore > 0) {
                <div class="col-auto text-center">
                    <label class="column-label">Metacritic</label>
                    <div display-for="SteamGame.MetacriticScore"></div>
                </div>
            }
        </div>

        @if (Model.ComplicationTags.SafeAny()) {
            <div>
                @foreach (Tag tag in Model.ComplicationTags.OrderBy(x => x.Name)) {
                    <span class="badge" style="background-color:@tag.BackgroundColor" display-for="@tag.Name"></span>
                }
            </div>
        }
    </div>
</a>